@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  cursor: pointer;
}

#root{
  height: 130vh;
  background-color: rgb(91, 93, 95);
  color:white;
  margin-bottom:30px;
  font-size: 2rem;
}

.active{
  color: white;
  background: rgba(128, 128, 128, 0.3);
}
